<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, td,th{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    
    <table>
        <tr>
            <th>Id</th>
            <th>email</th>
            <th>Username</th>
          
        </tr>
        <% for (user of results){ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.username %></td>
                <td>
                    <form method="get" action="/user/<% user.id %>/edit">
                    <button>EDIT USER NAME</button>
                    </form>
                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>


